stop-departures {
    .stop-departures {
        .mat-list-base {
            .mat-list-item {
                .mat-list-item-content {
                    padding: 0;
                }
            }
        }
    }
}

.passage-list-item-menu {
    margin-left: 15px;
}

/*.ol-attribution button {
    margin-bottom: 56px;
}

@media (min-width: 600px) {
    .ol-attribution button {
        margin-bottom: 64px;
        margin-right: 300px;
    }
}*/